{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block bar %}
  <li class="active"><a href="#">HomePage<span class="badge"></span></a></li>
  <li><a href="#">Info</a></li>
  <li><a href="#">Message<span class="badge"></span></a></li>
{% endblock %}

{% block nav %}
  <li class="active">
    <a href="{{ url_for('ceshi') }}"><span class="glyphicon glyphicon-trash"></span> Ceshi Page
    <span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}

<!-- <h1 class="page-header">Ceshi</h1> -->
{{ ceshidict }}
<br>
<script type="text/javascript">
var items = {{ ceshidict|safe }};  // python_ceshidict_dict
var items_string = {{ ceshistring|tojson|safe }};  // ceshistring is a python dumps obj
console.log(items);  // Object {alphaz: Array(2), user02: Array(0), user01: Array(1)}
console.log(items_string);  // ["{"alphaz": ["admin", "superuser"], "user02": [], "user01": ["superuser"]}"]

function delItem() {
    items['alphaz'] = ['love', 'you'];
    console.log(items);
}
</script>
<input type="button" value="Delete" onclick="delItem()">
<br>
{{ ceshidict }}
{% endblock %}
