{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block nav %}
  <li>
    <a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-dashboard"></span> Overview</a>
  </li>
  <li>
    <a href="{{ url_for('user') }}"><span class="glyphicon glyphicon-edit"></span> Users</a>
  </li>
  <li class="active">
    <a href="{{ url_for('group') }}"><span class="glyphicon glyphicon-list-alt"></span> Groups
    <span class="sr-only">(current)</span></a>
  </li>
  <li>
    <a href="{{ url_for('repo') }}"><span class="glyphicon glyphicon-tasks"></span> Repos</a>
  </li>
{% endblock %}

{% block content %}

<h1 class="page-header">Groups</h1>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="groupList">
    <table class="table table-striped">
      <thead>
        <tr class="table table-striped">
          <th>ID</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody class="table table-striped">
      {% for i in grouplist['conf/groups'] %}
        {% set counter = loop.index %}
        <tr>
          <td>{{ counter }}</td>
          <td>{{ i }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
