{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block bar %}
  <li class="active"><a href="#">HomePage<span class="badge"></span></a></li>
  <li><a href="#">Info</a></li>
  <li><a href="#">Message<span class="badge"></span></a></li>
{% endblock %}

{% block nav %}
  <li>
    <a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-dashboard"></span> Overview</a>
  </li>
  <li>
    <a href="{{ url_for('user') }}"><span class="glyphicon glyphicon-edit"></span> Users</a>
  </li>
  <li class="active">
    <a href="{{ url_for('group') }}"><span class="glyphicon glyphicon-list-alt"></span> Groups
    <span class="sr-only">(current)</span></a>
  </li>
  <li>
    <a href="{{ url_for('repo') }}"><span class="glyphicon glyphicon-tasks"></span> Repos</a>
  </li>
{% endblock %}

{% block content %}
<!-- <h1 class="page-header">Groups</h1> -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#groupDict" data-toggle="tab"><strong>Groups</strong></a></li>
  <li><a href="#groupCreator" data-toggle="tab"><strong>Group Creator</strong></a></li>
</ul>
<div id="groupTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="groupDict">
    <table class="table table-condensed table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">
            <!-- <input type="checkbox" id="selectAllGroup" onclick="selectAllGroup(this)"> -->
            No.
          </th>
          <th class="text-center">Group</th>
        </tr>
      </thead>
      <tbody>
      {% for group_name in groupdict %}
        {% set counter = loop.index %}
        <tr class="text-center">
          <td>
            <!-- <input type="checkbox" name="selectGroupName"> -->
            <div class="btn-group">{{ counter }}</div>
          </td>
          <td>
            <div class="btn-group">
              <form class="form-inline" id="renameGroupForm" method="POST" role="form">
                <input class="disable-enter-submit" type="text" name="{{ group_name }}" value="{{ group_name }}"
                style="text-align:center;border:0px">&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="color:#FF9933;" class="glyphicon glyphicon-pencil" id="renameGroupId-{{ group_name }}"
                onclick="javascript:this.parentNode.action='{{ url_for('group_rename') }}';this.parentNode.submit()">
                </div>
                <div style="color:#606060;" class="glyphicon glyphicon-remove" id="removeGroupId-{{ group_name }}"
                onclick="javascript:this.parentNode.action='{{ url_for('group_remove') }}';this.parentNode.submit()">
                </div>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="groupCreator">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Create a new group</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form class="form-inline" method="POST" role="form">
              <div class="form-group">
                <label class="sr-only" for="addGroupId">Name</label>
                <input type="text" class="form-control" name="addGroupName" id="addGroupId" placeholder="Create new group">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Create</button>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
//
$(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        var activeTab = $(e.target).text();
        var previousTab = $(e.relatedTarget).text();
        $('.active-tab span').html(activeTab);
        $('.previous-tab span').html(previousTab);
    });
});

$(document).ready(function() {
    $('.disable-enter-submit').keydown(function(event) {
        if (event.keyCode == 13) {
            return false;
         }
    });
});
</script>
{% endblock %}
