{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block bar %}
  <li class="active"><a href="#">HomePage<span class="badge">12</span></a></li>
  <li><a href="#">Info</a></li>
  <li><a href="#">Message<span class="badge">3</span></a></li>
{% endblock %}

{% block nav %}
  <li class="active">
    <a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-dashboard"></span> Overview
    <span class="sr-only">(current)</span></a>
  </li>
  <li>
    <a href="{{ url_for('user') }}"><span class="glyphicon glyphicon-edit"></span> Users</a>
  </li>
  <li>
    <a href="{{ url_for('group') }}"><span class="glyphicon glyphicon-list-alt"></span> Groups</a>
  </li>
  <li>
    <a href="{{ url_for('repo') }}"><span class="glyphicon glyphicon-tasks"></span> Repos</a>
  </li>
{% endblock %}

{% block content %}
{% endblock %}
