{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block bar %}
  <li class="active"><a href="#">HomePage<span class="badge">12</span></a></li>
  <li><a href="#">Info</a></li>
  <li><a href="#">Message<span class="badge">3</span></a></li>
{% endblock %}

{% block nav %}
  <li class="active">
    <a href="{{ url_for('testpage') }}"><span class="glyphicon glyphicon-trash"></span> Test Page
    <span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}

<h1 class="page-header">Repos</h1>
<div class="container">
  <div class="dropdown">
    <button class="btn btn-sm dropdown-toggle" type="button" id="groupId" data-toggle="dropdown">Group
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item01</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item02</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item03</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item04</a></li>
    </ul>
  </div>
</div>
{% endblock %}
