{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, Anonymous!</h1>
{% endif %}

{% block nav %}
  <li>
    <a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-dashboard"></span> Overview</a>
  </li>
  <li class="active">
    <a href="{{ url_for('user') }}"><span class="glyphicon glyphicon-edit"></span> Users
    <span class="sr-only">(current)</span></a>
  </li>
  <li>
    <a href="{{ url_for('group') }}"><span class="glyphicon glyphicon-list-alt"></span> Groups</a>
  </li>
  <li>
    <a href="{{ url_for('repo') }}"><span class="glyphicon glyphicon-tasks"></span> Repos</a>
  </li>
{% endblock %}

{% block content %}

<!-- <h1 class="page-header">Users</h1> -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#userList" data-toggle="tab"><strong>Users</strong></a></li>
  <li><a href="#userUpload" data-toggle="tab"><strong>Public Keys</strong></a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="userList">
    <table class="table table-striped">
      <thead>
        <tr class="table table-striped">
          <th>ID</th>
          <th>Key</th>
        </tr>
      </thead>
      <tbody class="table table-striped">
      {% for i in keylist.keydir %}
        {% set counter = loop.index %}
        <tr>
          <td>{{ counter }}</td>
          <td>{{ i }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="userUpload">
    <table class="table">
      <thead>
        <tr class="table">
          <th>Upload your public key</th>
        </tr>
      </thead>
      <tbody class="table">
        <tr>
          <td>
            <form method="POST" enctype="multipart/form-data">
              <input type="file" name="file" multiple>
              <input type="submit" value="Upload">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
