{% extends "base.html" %}
{% block title %}Gitoweb{% endblock %}

{% block bar %}
  <li class="active"><a href="#">HomePage<span class="badge">12</span></a></li>
  <li><a href="#">Info</a></li>
  <li><a href="#">Message<span class="badge">3</span></a></li>
{% endblock %}

{% block nav %}
  <li>
    <a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-dashboard"></span> Overview</a>
  </li>
  <li class="active">
    <a href="{{ url_for('user') }}"><span class="glyphicon glyphicon-edit"></span> Users
    <span class="sr-only">(current)</span></a>
  </li>
  <li>
    <a href="{{ url_for('group') }}"><span class="glyphicon glyphicon-list-alt"></span> Groups</a>
  </li>
  <li>
    <a href="{{ url_for('repo') }}"><span class="glyphicon glyphicon-tasks"></span> Repos</a>
  </li>
{% endblock %}

{% block content %}

<!-- <h1 class="page-header">Users</h1> -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#userList" data-toggle="tab"><strong>Users</strong></a></li>
  <li><a href="#userUpload" data-toggle="tab"><strong>Public Keys</strong></a></li>
</ul>
<div id="userTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="userList">
    <table class="table table-condensed table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">
            <!-- <input type="checkbox" id="selectAllUser" onclick="selectAllUser(this)"> -->
            ID
          </th>
          <th class="text-center">Key</th>
          <th class="text-center">Group</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for user_id, user_name  in userdict.iteritems() %}
        {% set counter = loop.index %}
        <tr>
          <td>
            <!-- <input type="checkbox" name="selectUserName"> -->
            {{ counter }}
          </td>
          <td>{{ user_name }}</td>
          <td>
            <select class="btn btn-sm" name="userGroupName-{{ user_id }}" id="userGroupId-{{ user_id }}">
            {% for assignedgroup_name in assignedgroup[user_id] %}
              <option value="{{ assignedgroup_name }}">{{ assignedgroup_name }}</option>
            {% endfor %}
          </td>
          <td>
            <div class="btn-group">
              <form class="form-inline" id="assoGroupForm" method="POST" role="form">
                <select class="btn btn-sm" name="assoGroupName-{{ user_id }}" id="assoGroupId-{{ user_id }}">
                  {% for group_id, group_name in groupdict.iteritems() %}
                  <option value="{{ group_id }}">{{ group_name }}</option>
                  {% endfor %}
                </select>
                <div style="color:#33CC33;" class="glyphicon glyphicon-plus" id="addIntoGroupId-{{ user_id }}"
                onclick="javascript:this.parentNode.action='{{ url_for('add_asso_group') }}';this.parentNode.submit()">
                </div>
                <span>|</span>
                <div style="color:#FF3333;" class="glyphicon glyphicon-minus" id="removeFromGroupId-{{ user_id }}"
                onclick="javascript:this.parentNode.action='{{ url_for('remove_asso_group') }}';this.parentNode.submit()">
                </div>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="userUpload">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Upload your public key</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form class="form-inline" method="POST" role="form" enctype="multipart/form-data">
              <div class="form-group">
                <label class="sr-only" for="inputfile">Key Path</label>
                <input type="file" id="inputfile" name="keyFile" style="display:none" multiple>
              </div>
              <div class="input-group">
                <input type="text" id="inputpath" class="input-large form-control" style="height:35px;">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$('input[id=inputfile]').click();">Browse</button>
                <button type="submit" class="btn btn-default">Upload</button>
                </span>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <!--{#
    <div id="myAlert" class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>success</strong>OK
    </div>
    {% if status_dict.status|int == 4 %}
    <div id="myAlert" class="alert alert-warning">
      <a href="" class="close" data-dismiss="alert">&times;</a>
      <strong>warning: </strong>Please choose a pub key file.
    </div>
    {% endif %}#}-->
  </div>
</div>
<script type="text/javascript">
//
$('input[id=inputfile]').change(function() {
    $('#inputpath').val($(this).val());
});

$('#addIntoGroupId-{{ user_id }}').click(function() {
    var assoGroupForm=$('#assoGroupForm');
    assoGroupForm.attr('action', '{{ url_for("add_asso_group") }}');
    assoGroupForm.submit();
});

$('#removeFromGroupId-{{ user_id }}').click(function() {
    var assoGroupForm=$('#assoGroupForm');
    assoGroupForm.attr('action', '{{ url_for("remove_asso_group") }}');
    assoGroupForm.submit();
});
</script>
{% endblock %}
